
  .header {
    display: flex;
      justify-content: space-between;
      margin: auto;
      width: 20%;
}

  .nav-items > ul {
      display: flex;
      list-style-type: none;
      background-color: antiquewhite;
      border-radius: 30px;
  }

  .nav-items > ul > li {

      padding: 5px;
      margin: 10px;
      font-size: 24px ;

  }


  .logo {
      width: 100px;
  }
  body {background: cadetblue;
  }

  ---------------------------------------------------------------

  .res-card {
      padding: 30px; 
      margin: 50px;

  }
  
  p {
      font-family: Cursive, serif;
      background-color: bisque;
      height: 100px;
      width: 300px;
      border: aliceblue;
      padding: 70px;
      margin: 50px;

  }

  h3 {
      font-family: "Arial Black", monospace;
      float: left;
      font-size: 20px;
  }
  .btn {
      cursor: pointer;
      font-size: 15px;
      padding: 20px;
      margin: 20px;
  }
  a:hover{
      background: coral;
      color: black;
  }

  input{
      float: right;
  }

